<h1>To Do List</h1>
<h3>Add a new item:</h3>
<form action='/word' method='post'>
  <label for='userWord'>Word</label>
  <input name='userWord' type='text'>
  <label for='listOfWords'>Word</label>
  <input name='listOfWords' type='text'>
  <button type='submit'>Create</button>
</form>
